# Socket.io sunucusunun adresi.
# Boş bırakılırsa https://realtimechatappb.onrender.com kullanılır.
# Lokal geliştirme için: http://localhost:5000
NEXT_PUBLIC_SOCKET_URL=https://realtimechatappb.onrender.com
